<h1>Listing articles</h1>

    <% @articles.each do |article| %>
      <div>
        <%= article.title %>
        <%= article.author %>
        <%= article.content %>
      </div>
      <hr>
    <% end %>

<br>

<%= link_to 'New Article', new_article_path %>
